.focus-center :global(.splide__list) li {
	filter: opacity(var(--inactive-slide-opacity));
	transform: scale(calc(var(--scaling-factor) - 1));
	transition:
		filter 200ms,
		transform 350ms;
}

.focus-center :global(.splide__list) li:global(.is-active) {
	filter: opacity(1);
	transform: scale(1);
}
