.wrapper {
	position: absolute;
	width: 85%;
	height: 85%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	border-radius: 16px;
	overflow: hidden;
	border: 1px solid grey;
}
.container {
	position: relative;
	margin: auto;
	width: 300px;
	height: 400px;
}

.takePhotoButton {
	position: fixed;
	bottom: 20px;
	left: calc(50% - 25px);
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.fullScreenImagePreview {
	width: 100%;
	height: 100%;
	z-index: 100;
	position: absolute;
	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.corner {
	position: absolute;
}
.corner {
	background: none;
	height: 40px;
	width: 40px;
}
#top-left {
	top: 0;
	left: 0;
	border-radius: 8px 0 0 0;
	border-top: 4px solid #919191;
	border-left: 4px solid #919191;
}
#top-right {
	top: 0;
	right: 0;
	border-radius: 0 8px 0 0;
	border-top: 4px solid #919191;
	border-right: 4px solid #919191;
}
#bottom-right {
	bottom: 0;
	right: 0;
	border-radius: 0 0 8px 0;
	border-bottom: 4px solid #919191;
	border-right: 4px solid #919191;
}
#bottom-left {
	bottom: 0;
	left: 0;
	border-radius: 0 0 0 8px;
	border-bottom: 4px solid #919191;
	border-left: 4px solid #919191;
}
